main {
  margin: 15px 12px;
  margin-bottom: 75px;
  min-width: 259px;
}

.picture-box > img{
  width : 200px;
  height :  200px;
  border-radius: 50%;
}


.contact-item {
  display: flex;
}


.contact-title {
  margin-bottom: 2px;
  font-weight: bold;
}


