body
{
	background: url(https://media3.giphy.com/media/9J8K8WEWLXZk7s0OMB/giphy.gif?cid=ecf05e47yermu6tbs5ug896uqnwmjzno1ilqzms10o85uvhg&rid=giphy.gif) repeat-x, url(https://media3.giphy.com/media/9J8K8WEWLXZk7s0OMB/giphy.gif?cid=ecf05e47yermu6tbs5ug896uqnwmjzno1ilqzms10o85uvhg&rid=giphy.gif) bottom left; 
	background-size: 400px 400px; 
}
		
.header
{
	background-color: black;
	padding: 5px;
	text-align: center;
	color: white;
}

a:link 
{
	color: red;
}
		
a:visited 
{
	color: green;
}
		
a:hover 
{
	color: #e30071;
	text-decoration: underline;
}

a:active 
{
	color: blue;
}

.text-center{
    text-align: center;
}
h2{
    font-family: Cambria; 
    font-weight: bold; 
    color: black;
    text-align: center;
   }
   
   table,td{
    font-family: Cambria; 
    color: black; 
    font-size: 16px; 
    font-weight: bold;
    background: linear-gradient(to bottom, #eafafa,#ffffff);
    border: 1px solid;
    border-style: solid;
    width: 75%
   }
   
   table.inner{
    border: 10px
   }
   
   input[type=text], input[type=email], input[type=number], input[type=password] {
    width: 50%;
    padding: 6px 12px;
    margin: 5px 0;
    box-sizing: border-box;
   }
   
   input[type=submit], input[type=reset]{
    width: 15%;
    padding: 8px 12px;
    margin: 5px 0;
    box-sizing: border-box;
   }
   
   main {
    margin: 15px 12px;
    margin-bottom: 75px;
    min-width: 259px;
  }
  
  .picture-box > img{
    width : 280px;
    height :  210px;
    border-radius: 40%;
  }
  
  
  .contact-item {
    display: flex;
  }
  
  
  .contact-title {
    margin-bottom: 2px;
    font-weight: bold;
  }
  
  
  